<div class="container">
    <div class="title">
      <h1>Entre em contato com a gente!</h1>
      <h3>Preenchendo o formulário ou através nas nossas redes sociais</h3>
    </div>
    <div class="contact-container">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <input type="text" placeholder="Seu nome" formControlName="name" [value]="form.value.name">
        <span class="warning-input"
          [ngClass]="{ 'visible': form.get('name')?.invalid && form.get('name')?.touched}">
          Nome não preenchido ou curto demais (mínimo de 5 caracteres)
        </span>
        <input type="email" placeholder="Seu email" formControlName="email" [value]="form.value.email">
        <span class="warning-input"
          [ngClass]="{ 'visible': form.get('email')?.invalid && form.get('email')?.touched}">
          Email não preenchido ou inválido
        </span>
        <textarea placeholder="Sua mensagem" formControlName="message" [value]="form.value.message"></textarea>
        <span class="warning-input"
          [ngClass]="{ 'visible': form.get('message')?.invalid && form.get('message')?.touched}">
          Menssagem não preenchida ou curta demais (mínimo de 10 caracteres)
        </span>
        <button type="submit" app-button-layout [disabled]="!form.valid">Enviar</button>
      </form>
      <div class="social-media-container">
        <div class="managers-area">
          <h2>Responsáveis</h2>
          <swiper-container
          navigation="true"
          pagination="true"
          pagination-clickable="true"
          space-between="20"
          autoplay-delay="5000"
          slides-per-view="2"
          [breakpoints]="breakpoints"
          >
            @for (item of managersArray; track $index) {
              <swiper-slide>
                <div class="manager">
                  <p class="title-role" [title]="item.role">{{ item.role | truncate }}</p>
                  <p class="title-name">{{ item.name }}</p>
                  <div class="details">
                    @if(item.fone && item.email) {
                      <p>Fone: {{ item.fone }}</p>
                      <p>E-mail: {{ item.email }}</p>
                    } @else if(item.email && !item.fone) {
                      <p>E-mail: {{ item.email }}</p>
                    } @else if(item.fone && !item.email) {
                      <p>Fone: {{ item.fone }}</p>
                    }
                  </div>
                </div>
              </swiper-slide>
            }
          </swiper-container>
        </div>
      </div>
    </div>
</div>
