<app-header [darkTheme]="true"></app-header>

<div class="container">
    <div class="title">
      <h1>Entre em contato com a gente!</h1>
      <h3>Preenchendo o formulário ou através nas nossas redes sociais</h3>
    </div>
    <div class="contact-container">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <input type="text" placeholder="Seu nome">
        <input type="email" placeholder="Seu email">
        <textarea placeholder="Sua mensagem"></textarea>
        <button app-button-layout>Enviar</button>
      </form>
      <div class="social-media-container">
        <div class="managers-area">
          <h2>Responsáveis</h2>
          <swiper-container
          navigation="true"
          pagination="true"
          pagination-clickable="true"
          space-between="20"
          autoplay-delay="5000"
          slides-per-view="2"
          [breakpoints]="breakpoints"
          >
            @for (item of managersArray; track $index) {
              <swiper-slide>
                <div class="manager">
                  <p class="title-role" [title]="item.role">{{ item.role | truncate }}</p>
                  <p class="title-name">{{ item.name }}</p>
                  <div class="details">
                    @if(item.fone && item.email) {
                      <p>Fone: {{ item.fone }}</p>
                      <p>E-mail: {{ item.email }}</p>
                    } @else if(item.email && !item.fone) {
                      <p>E-mail: {{ item.email }}</p>
                    } @else if(item.fone && !item.email) {
                      <p>Fone: {{ item.fone }}</p>
                    }
                  </div>
                </div>
              </swiper-slide>
            }
          </swiper-container>
        </div>
        <div class="socials">
          <lucide-icon name="facebook" [size]="30"></lucide-icon>
          <lucide-icon name="instagram" [size]="30"></lucide-icon>
          <lucide-icon name="linkedin" [size]="30"></lucide-icon>
          <lucide-icon name="youtube" [size]="30"></lucide-icon>
        </div>
      </div>
    </div>
</div>
