<div class="container">
  <div class="container-infos">
    <div class="left-wrapper">
      <div class="title">
        <p>Instituto Federal de Educação, Ciências e Tecnologia do Ceará - campus de Maracanaú</p>
        <p>Departamento de Extensão, Pesquisa, Pós-graduação e Inovação</p>
      </div>
      <div class="address">
        <p>Av. Parque Central, S/N - Distrito Industrial I - Maracanaú - CE<br>CEP: 61939-140</p>
      </div>
    </div>
    <div class="right-wrapper">
      <div class="contact">
        <div class="email">
          <a href="mailto:deppi.maracanau&#64;ifce.edu.br" target="_blank">deppi.maracanau&#64;ifce.edu.br</a>
        </div>
        <div class="fone">
          <p>Telefone: (85) 3512-8733 / (85) 3512-8753</p>
        </div>
      </div>
    </div>
  </div>

  <div class="socials">
    @for (item of arrayIcons; track $index) {
      <lucide-icon name="{{item}}" [size]="30"></lucide-icon>
    }
  </div>
</div>
