@import '../../../variables.scss';

nav {
  display: flex;
  padding-left: 50px;
  gap: 30px;
  a {
    color: #fff;
    transition: .3s;
    &:hover {
      color: lighten(#029a65, 10%);
    }
  }
}
.contact-btn button {
  border-style: none;
  border-radius: 3px;
  background-color: #029a65;
  width: 170px;
  height: 45px;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  transition: .3s;
  &:hover {
    background-color: lighten(#029a65, 10%);
  }
}

:host {
  @include flex-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  border-radius: 35px;
  transition: .3s;
  top: 10px;
  &.shadow {
    padding: 10px 25px !important;
    .img {
      height: 70px !important;
    }
    button {
     height: 40px;
     width: 120px;
    }
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  }
  &.shadow:not(.dark-theme) {
    background-color: lighten(#029a65, 10%);
    a:hover {
      color: #fff;
    }
    .right-wrapper .navigation .contact-btn button {
      background-color: #fff;
      color: #029a65;
      &:hover {
        background-color: lighten(#029a65, 60%);
      }
    }
  }
  &.dark-theme {
    &.shadow {
      background-color: lighten(#029a65, 10%);
      .left-wrapper {
        .logo .img {
          background-image: url('../../../assets/icons/ifce-logo.png');
          transition: .3s;
        }
      }
      .right-wrapper {
        .toggle-dropdown {
          lucide-icon {
            color: #fff !important;
          }
        }
        .navigation {
          a {
            color: #fff;
            &:hover {
              color: #fff;
            }
          }
        }
      }
      a {
        color: #fff;
        &:hover {
          color: lighten(#029a65, 10%);
        }
      }
    }
    .left-wrapper {
      .logo .img {
        background-image: url('../../../assets/icons/ifce-logo-dark.png');
        transition: .3s;
      }
    }
    .right-wrapper {
      .toggle-dropdown {
        lucide-icon {
          color: #000 !important;
        }
      }
      .navigation a {
        color: #000;
        &:hover {
          color: lighten(#029a65, 10%);
        }
      }
    }
  }
  .left-wrapper {
    display: flex;
    align-items: center;
    .logo .img {
      background-image: url('../../../assets/icons/ifce-logo.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 300px;
      height: 130px;
      transition: .3s;
    }
  }

  .right-wrapper {
    width: 100%;
    .navigation {
      @include flex-between;
      .toggle-dropdown {
        lucide-icon {
          &:not(.active){
            display: none;
          }
          color: #fff;
          cursor: pointer;
        }
      }
    }
    .dropdown-menu {
      display: none;
      position: absolute;
      overflow: hidden;

      top: 6rem;
      right: 24px;

      width: 300px;
      height: 0;
      background-color: #fff;
      border-radius: 15px;
      transition: height .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &.active {
        height: 350px;
        box-shadow: 0px 0px 50px 19px rgba(0,0,0,0.2);
      }
      nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px;
        a {
          color: #000;
          font-weight: 500;
          transition: .3s;
          &:hover {
            color: lighten(#029a65, 20%);
          }
        }
      }
      .contact-btn {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    .toggle-dropdown{
      display: none;
    }
  }
}

@media screen and (max-width: 1150px) {
  :host {
    border-radius: 0;
    top: 0 !important;
    &.shadow:not(.dark-theme) {
      border-radius: 0;
      box-shadow: 0px 5px 70px 0px rgba(0,0,0,0.5);
      button {
       height: 40px;
       width: 120px;
      }
    }
  }
  .navigation {
    justify-content: end !important;
    nav,
    .contact-btn {
    display: none !important;
    }
  }
  .toggle-dropdown{
    display: block !important;
  }

  .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: center;

  }
}

@media screen and (max-width: 768px) {
  .dropdown-menu {
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 400px) {
  :host {
    padding: 20px 24px !important;
    .left-wrapper {
      .logo .img {
        width: 280px;
        height: 80px !important;
      }
    }
    &.shadow {
      padding: 20px 24px !important;
      .left-wrapper {
        .logo .img {
          width: 260px;
          height: 50px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  :host {
    padding: 20px 24px 20px 10px!important;
    .left-wrapper {
      .logo .img {
        width: 250px;
        height: 70px !important;
      }
    }
    &.shadow {
      padding: 20px 24px !important;
      .left-wrapper {
        .logo .img {
          width: 230px;
          height: 50px !important;
        }
      }
    }
  }
}


