<div class="left-wrapper">
  <div class="logo">
    <!-- <img src="./assets/icons/ifce-logo.png" alt=""> -->
    <a routerLink="/home" aria-label="Volte para a página inicial"><div class="img"></div></a>
  </div>
</div>
<div class="right-wrapper">
  <div class="navigation">
    <nav>
      <a #link href="#" routerLink="/pesquisa" aria-label="Saiba mais sobre a parte de Pesquisa">Pesquisa</a>
      <a #link href="#" routerLink="/extensao" aria-label="Saiba mais sobre a parte de Extensão">Extensão</a>
      <a #link href="#" routerLink="/inovacao" aria-label="Saiba mais sobre a parte de Inovação">Inovação</a>
      <a #link href="#" routerLink="/pos-graduacao" aria-label="Saiba mais sobre a parte de Pós Graduação">Pós Graduação</a>
      <a #link href="" (click)="actualUrl($event)" aria-label="Saiba mais Sobre nós">Sobre</a>
    </nav>
    <div class="contact-btn">
      <a #link href="" routerLink="/contato" aria-label="Entre em Contato conosco"><button app-button-layout>Contato</button></a>
    </div>
    <div class="toggle-dropdown" (click)="toggleBtn()">
      <lucide-icon name="menu" [size]="28" [strokeWidth]="3" [class.active]="!switchImg"></lucide-icon>
      <lucide-icon name="x" [size]="28" [strokeWidth]="3" [class.active]="switchImg"></lucide-icon>
    </div>
  </div>

  <div class="dropdown-menu" [class.active]="switchImg">
    <nav>
      <a #link href="#" routerLink="/pesquisa" aria-label="Saiba mais sobre a parte de Pesquisa">Pesquisa</a>
      <a #link href="#" routerLink="/extensao" aria-label="Saiba mais sobre a parte de Extensão">Extensão</a>
      <a #link href="#" routerLink="/inovacao" aria-label="Saiba mais sobre a parte de Inovação">Inovação</a>
      <a #link href="#" routerLink="/pos-graduacao" aria-label="Saiba mais sobre a parte de Pós Graduação">Pós Graduação</a>
      <a #link href="" (click)="actualUrl($event)" aria-label="Saiba mais Sobre nós">Sobre</a>
    </nav>
    <div class="contact-btn">
      <a #link href="" routerLink="/contato" aria-label="Entre em Contato conosco"><button app-button-layout>Contato</button></a>
    </div>
  </div>
</div>

