@import '../../../variables.scss';

a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}
// @mixin flex-between {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

:host {
  @include flex-between;

  .left-wrapper {
    display: flex;
    align-items: center;
    .logo img {
      width: 300px;
    }
    nav {
      display: flex;
      padding-left: 50px;
      gap: 30px;
      a {
        color: #fff;
        transition: .3s;
        &:hover {
          color: lighten(#029a65, 20%);
        }
      }
    }
  }

  .right-wrapper {
    .contact-btn button {
      border-style: none;
      border-radius: 3px;
      background-color: #029a65;
      width: 170px;
      height: 45px;
      font-weight: 600;
      font-size: 1rem;
      color: #fff;
    }
  }

}


