.container-header {
  max-width: 1720px;
  margin: 0 auto;
  app-header {
    width: 100%;
    max-width: 1720px;
    padding: 0 24px;
  }
}

lucide-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: .3s;
  z-index: 999;
  &:hover {
    color: #029a65;
    cursor: pointer;
    bottom: 15px;
  }
}
