@import '../../../variables.scss';

:host {
  display: block;

  .container {
    padding: 0 24px;
    background-image: url('../../../assets/campus-maracanau-background.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    app-header {
      max-width: 1720px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .gradient-bg {
      width: 100%;
      // opacity: 0.7;
      max-height: 200px;
      position: absolute;
      text-align: center;
      bottom: -3rem;
      left: 0;
      z-index: 1;
    }
  }
  .initial-container {
    @include max-width-1720;
    position: relative;
  }

  app-header {
    flex-direction: row;
  }

  .initial-container {
    width: 100%;
    height: 100vh;
    transition: .3s;

    display: flex;
    justify-content: center;
    align-items: center;
    .text-wrapper{
      max-width: 1100px;
      transition: .3s;
      .titles {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1, h3 {
          font-family: 'Roboto', sans-serif;
          transition: .3s;
        }
        h1 {
          font-size: 3.5rem;
          font-weight: 700;
          color: #fff;
        }
        h3 {
          font-size: 3.8rem;
          line-height: 4.8rem;
          font-weight: 600;
          color: #fff;
        }
      }
      .details {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-top: 20px;
        .line {
          width: 50px;
          height: 2px;
          background-color: lighten(#029a65, 20%);
        }
        p {
          text-transform: uppercase;
          font-weight: 500;
          color: lighten(#029a65, 20%);
        }
      }
    }
  }
  .deppi-introduction-container{
    @include max-width-1720;
    position: relative;
    z-index: 2 !important;
    padding: 5rem 24px 0 24px;
    .cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 100px;
      app-card-layout {
        max-width: 1100px;
      }
    }
  }

  .redirect-contato-container {
    @include max-width-1720;
    padding: 4rem 24px 2rem 24px;
    gap: 20px;
    .text-wrapper {
      text-align: center;
      h1 {
        font-size: 3rem;
      }
      h3 {
        font-family: 'Roboto', sans-serif;
      }
    }
    button {
      position: relative;
      width: 200px;
      height: 50px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.01rem;
      font-weight: 700;
      border-style: none;
      border-radius: 5px;
      padding-right: 20px;
      background-color: lighten(#029a65, 10%);
      color: #fff;
      transition: .3s;
      &:hover {
        background-color: lighten(#029a65, 20%);

        lucide-icon {
          right: 35px;
        }
      }
      lucide-icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 40px;
        transition: .3s;
      }
    }
  }
}


@media screen and (max-width: 1150px) {
  :host {
    .initial-container {
      .text-wrapper {
        width: 768px;
      }
    }

    // .deppi-introduction-container {
    //   .cards {
    //     app-card-layout {
    //       // width: 100%;
    //     }
    //   }
    // }
  }
}


@media screen and (max-width: 768px) {
  .text-wrapper {
    width: 100% !important;
    height: 100%;
    padding-top: 12rem;
  }
}

@media screen and (max-height: 500px) {
  .container {
    height: 100% !important;
  }
  .initial-container {
    height: 100% !important;
  }
  .text-wrapper {
    width: 100% !important;
    height: 100%;
    // padding-top: 3rem;
  }

  .gradient-bg {
    display: none;
  }
  .details {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  :host {
    .initial-container {
      .text-wrapper {
        width: 100%;
        .titles {
          h1 {
            font-size: 3.3rem;
          }
          h3 {
            font-size: 3rem;
            line-height: 4rem;
          }
        }
      }
    }
  }
}
