<div class="container">

  <section class="initial-container">
    <div class="text-wrapper">
      <div class="titles">
        <h1>DEPPI</h1>
        <h3>Departamento de Extensão, Pesquisa, Pós-Graduação e Inovação.</h3>
      </div>
      <div class="details">
        <div class="line"></div><p>Campus Maracanaú</p>.
      </div>
    </div>
  </section>
  <img src="../../../assets/gradient-bg.png" class="gradient-bg" alt="">
</div>

<div class="deppi-introduction-container" id="sobre">
  <div class="cards">
    @for(card of arrayCards; track $index) {
      @if($index % 2 !== 0) {
        <app-card-layout [cardInfos]="card" cardReverse="reverse"></app-card-layout>
      } @else {
        <app-card-layout [cardInfos]="card"></app-card-layout>
      }
    }
  </div>
</div>

<div class="redirect-contato-container">
  <div class="text-wrapper">
    <h1>Quer saber mais?</h1>
    <h3>Entre em contato conosco!</h3>
  </div>
  <a href="" routerLink="/contato">
    <button app-button-layout class="redirect-button">
      Contato <lucide-icon name="move-right" [size]="22"></lucide-icon>
    </button>
  </a>
</div>
