<app-header [darkTheme]="true"></app-header>

<section class="extensao-container">
  <app-card-layout [cardInfos]="card"></app-card-layout>

  <div class="gestores-container">
    <div class="title">
      <h1>Atribuições dos Gestores de Extensão</h1>
      <p class="description">
      Gestores de extensão são os servidores, docentes ou técnicos administrativos, designados
      através de portaria, para coordenar todas as ações de extensão promovidas pelos campi em que atuam.
      Atribuições:
      </p>
    </div>

    <ul>
      <li>Disseminar o conhecimento sobre extensão;</li>
      <li>Acompanhar as ações de extensão;</li>
      <li>Acompanhar o processo de certificação das ações, ainda que sejam assinados por eventuais parceiros externos;</li>
      <li>Participar dos planos e diretrizes relacionados à extensão no campus;</li>
      <li>Prestar orientações gerais aos extensionistas sobre elaboração, execução e avaliação das ações;</li>
      <li>Prestar informações relacionadas à extensão para toda a comunidade interna e externa;</li>
      <li>Atuar, de forma sistêmica, colaborando para garantir a indissociabilidade entre ensino, pesquisa, extensão e assuntos estudantis;</li>
      <li>Buscar parcerias e captação de recursos para promoção de ações de extensão;</li>
      <li>Articular ações de desenvolvimento regional e local, mediado pela ciência e tecnologia, e pela construção de novas possibilidades associativas e estratégicas de inclusão social;</li>
      <li>Organizar e divulgar calendário das ações de extensão;</li>
      <li>Incentivar a promoção de eventos que contribuam para o intercâmbio de experiências entre Instituto, Empresa e Comunidade, e manter informações qualiquantitativas atualizadas e organizadas, além de registros fotográficos (no formato JPEG, com legendas e créditos), para que sejam utilizados pelo campus e/ou pela Proext, na elaboração dos relatórios, editoração de livros, revistas, catálogos, cartilhas e/ou outras publicações.</li>
    </ul>
  </div>
</section>
