@import '../../../variables.scss';

:host {
  @include max-width-1720;
  padding: 12rem 24px 0 24px;

  .extensao-container {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    app-card-layout,
    .managers-details {
      max-width: 1200px;
    }

    .managers-details {
      margin: 0 auto;
      padding: 2rem 0 4rem 0;
      h1 {
        font-size: 2.5rem;
        text-align: center;
      }
      .container-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .item {
          display: flex;
          align-items: center;
          gap: 15px;
          .number {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #029a65;

            &.alternative {
              border-color: darken(#029a65, 20%);
            }
          }
          .description {
            width: 100%;
          }
        }
      }
    }
  }

}
