@import '../../../variables.scss';

:host {
  @include max-width-1720;
  padding: 12rem 24px 0 24px;
  section {
    .initial-container {
      .cards {
        display: flex;
        flex-direction: column;
        gap: 100px;
        app-card-layout {
          max-width: 1200px;
        }
      }
    }
  }
}
