<app-header [darkTheme]="true"></app-header>

<section>
  <div class="initial-container">
    <div class="left">
      <div class="highlight-text">
        <div class="line"></div>
        <p>ideais de inovação</p>
      </div>
      <h1>Pesquisa</h1>
      <p>A pesquisa institucional é um dos pilares que suportam a evolução de nossa comunidade (docentes, discentes, técnicos administrativos e toda a sociedade). A PRPI existe para fomentar e direcionar as ações de pesquisa para que haja harmonia nessa evolução. Como Instituto de Tecnologia, o IFCE se destaca na forte aplicação da pesquisa acadêmica desenvolvida em seus laboratórios. Neste contexto, ações que objetivam a transferência de produtos, protótipos e/ou processos para o mercado tem sido alvo de diversas iniciativas internas bem como na busca de fomento externo.</p>
    </div>
    <div class="right">
        <img src="assets/introduction/laboratory.jpg" alt="">
    </div>
  </div>
  <!-- <p>

    Gestor de pesquisa
    Conjuntamente com a equipe da PRPI, os gestores de pesquisa, pósgraduação e inovação são os servidores designados em seus campi para

    coordenar as atividades de pesquisa, pós-graduação e inovação.

    Dependendo da estrutura organizacional de cada campus eles podem ser representados por chefes de departamentos de pesquisa, diretores de pesquisa, coordenadores de pesquisa ou funções equivalentes.

    Cada gestor dos campi do IFCE tem como papel fundamental fomentar e incentivas as ações e oportunidades na área de pesquisa, pós-graduação e inovação no âmbito interno e externo do IFCE além de relacionar-se com as políticas e informações disponibilizadas pela PRPI.

    Quais as atribuições do gestor de pesquisa, Pós-graduação e Inovação no âmbito da PRPI?
    Divulgar e multiplicar amplamente as informações relativas à pesquisa, Pósgraduação e Inovação e à inovação no âmbito do IFCE;

    Divulgar e multiplicar amplamente as informações relativas à pesquisa e à inovação no âmbito externo (instituições de fomento à pesquisa e inovação tais como CNPq, CAPES, FUNCAP e outros);

    Organizar as ações de pesquisa e inovação interna do seu campus; Estimular as ações de pesquisa e inovação no seu campus Encaminhar as demandas relativas à pesquisa e inovação de servidores e discentes à PRPI quando for o caso;

    Organizar a participação de servidores e discentes nos eventos de pesquisa do IFCE ou da rede federal de educação profissional tecnológica; Realizar reuniões com discentes, docentes e técnicos administrativos sobre os aspectos da pesquisa, pós-graduação e inovação; Estimular a participação do IFCE em ações de divulgação científica tecnológica e comissões ou comitês relacionados;

    Estimular a publicação de pesquisas realizadas no IFCE em periódicos de divulgação científica qualificada;

    Apoiar as ações de inovação nos aspectos do relacionamento do IFCE com as empresas;

    Participar de todos os eventos, convites e convocações da PRPI. Apoiar as ações de pós-graduação no que toca à criação e ao monitoramento dos cursos;</p> -->
</section>
