<app-header [darkTheme]="true"></app-header>

<section>
  <div class="initial-container">
    <div class="cards">
      @for(card of cardsArray; track $index) {
        @if($index % 2 !== 0) {
          <app-card-layout [cardInfos]="card" cardReverse="reverse"></app-card-layout>
        } @else {
          <app-card-layout [cardInfos]="card"></app-card-layout>
        }
      }
    </div>
  </div>
  <!-- <p>
    Quais as atribuições do gestor de pesquisa, Pós-graduação e Inovação no âmbito da PRPI?
    Divulgar e multiplicar amplamente as informações relativas à pesquisa, Pósgraduação e Inovação e à inovação no âmbito do IFCE;

    Divulgar e multiplicar amplamente as informações relativas à pesquisa e à inovação no âmbito externo (instituições de fomento à pesquisa e inovação tais como CNPq, CAPES, FUNCAP e outros);

    Organizar as ações de pesquisa e inovação interna do seu campus; Estimular as ações de pesquisa e inovação no seu campus Encaminhar as demandas relativas à pesquisa e inovação de servidores e discentes à PRPI quando for o caso;

    Organizar a participação de servidores e discentes nos eventos de pesquisa do IFCE ou da rede federal de educação profissional tecnológica; Realizar reuniões com discentes, docentes e técnicos administrativos sobre os aspectos da pesquisa, pós-graduação e inovação; Estimular a participação do IFCE em ações de divulgação científica tecnológica e comissões ou comitês relacionados;

    Estimular a publicação de pesquisas realizadas no IFCE em periódicos de divulgação científica qualificada;

    Apoiar as ações de inovação nos aspectos do relacionamento do IFCE com as empresas;

    Participar de todos os eventos, convites e convocações da PRPI. Apoiar as ações de pós-graduação no que toca à criação e ao monitoramento dos cursos;</p> -->
</section>
